.nav{flex-direction: column; align-items: flex-start;}
.nav_logo{padding-bottom:12px;}
.nav_list{ flex-direction: column; align-items: center; width: 100%;padding-bottom: 30px; display:none;}
.nav_list>li{width: 100%; text-align: center;}
.nav_icons{justify-content: center; width: 100%; padding-bottom: 20px; display:none;}
.nav_icons>li{padding:8px 12px;}

.button{display:block; position: absolute; top:10px; right:30px;}

.nav_list.active,
.nav_icons.active{display:flex;}